
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper. </p>
    </div>
</div>

